body, html {
  height: 100%;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  align-items: last baseline;
  overflow: hidden; /* Prevent scrolling */
}

body {
  background: #f7f9fb;
  color: #1b1b1b;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

#mindmap {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  rect {
    fill: none;
    pointer-events: all;
  }
  
  pre {
    font-size: 18px;
  }
  
  line {
    stroke: #0E0;
    stroke-width: 1.5px;
  }
  
  .string, .regexp {
    color: #f39;
  }
  
  .keyword {
    color: #00c;
  }
  
  .comment {
    color: #777;
    font-style: oblique;
  }
  
  .number {
    color: #369;
  }
  
  .class, .special {
    color: #1181B8;
  }
  
  a:link, a:visited {
    color: steelblue;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
  }
  
  .node text {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
  }
  
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.0px;
  }