html {
  background: #f7f9fb;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
  overflow-x: auto;            /* Allow horizontal scrolling */
  overflow-y: hidden;          /* Disable vertical scrolling */
  color: #1b1b1b;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

#mindmap {
  position: relative;
  display: flex;
  justify-content:space-evenly;
  align-items: center;         /* Center vertically */
  width: 100%;                 /* Full width */
  height: 100%;                /* Full height */
  overflow-x: auto;            /* Ensure horizontal scroll works */
  overflow-y: hidden;          /* Prevent vertical scroll */
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #0E0;
  stroke-width: 1.5px;
}

.string,
.regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class,
.special {
  color: #1181B8;
}

a:link,
a:visited {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2.0px;
}

/* buttonStyles */

button {
  background-color: #4CAF50;
  /* Green background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 4px 12px;
  /* Padding */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* Remove underlines */
  display: inline-block;
  /* Inline-block for layout control */
  font-size: 12px;
  /* Font size */
  margin: 5px 2px;
  /* Margin between buttons */
  cursor: pointer;
  /* Pointer cursor on hover */
  border-radius: 32px;
  /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.2s ease;
  /* Smooth transitions */
}

button:hover {
  background-color: #45a049;
  /* Slightly darker green on hover */
  transform: scale(1.05);
  /* Slight zoom effect */
}

button:active {
  background-color: #3e8e41;
  /* Even darker green on active click */
  transform: scale(0.95);
  /* Slight shrink effect */
}

#expand-all {
  background-color: #007BFF;
  /* Blue background for expand */
}

#expand-all:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

#collapse-all {
  background-color: #f44336;
  /* Red background for collapse */
}

#collapse-all:hover {
  background-color: #c0392b;
  /* Darker red on hover */
}